#homepage

  %div.left
    %h2 Find items you'd like to buy...
    = form_tag search_results_path, :method => :get do
      = text_field_tag :name, (params[:name] if params[:name])
      = submit_tag "Get products"

  %div.right
    %h3 What is SpontDeal?
    %p some text here about spont deal
    
    %h3 Let the deals come to you..
    %p some more text here
    
    = link_to 'Signup now!', '/members/sign_up'