#homepage

  %div.left
    %h2 Find items you'd like to buy...
    = form_tag search_results_path, :method => :get do
      = text_field_tag :name, (params[:name] if params[:name])
      = submit_tag "Get products"

  %div.right
    %h3 What is GiftNetwork?
    %p We flip the deal world upside down to bring you the best prices and deals on the things YOU want instead of the things THEY want to sell you
    
    %h3 Let the deals come to you..
    %p NEVER miss a deal on something that you really want and NEVER get sold on a deal just because it is a good price. We organize the things you want so that we bring the deals to you
    
    = link_to 'Signup now!', '/members/sign_up'